/* Увеличенный размер поля поиска */
body>nav form .search {
    height: 18px;
    font-size: 18px;
    padding: 8px 10px;
}

/* RSS icon alignment */
body>nav ul.subscription a {
    padding-top: 1px;
}

@media only screen and (min-width: 550px) {
    body>nav ul {
        padding-top: .04em;
    }

    body>nav form {
        padding-top: .08em;
    }
}

@media only screen and (min-width: 768px) {
    article header {
        margin-bottom: 0.7em;
        padding-bottom: 1em;
    }
}

@media only screen and (min-width: 992px) {
    body>nav form {
        width: 240px;
    }
}

.flex-content,
article img,
article video,
article .flash-video,
article .caption-wrapper,
aside.sidebar img {
    /* center inline objects*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr.dashed {
    border-top: 1px dashed #bbb;
    margin-top: 24px;
}
