/* Увеличенный размер поля поиска */
body>nav form .search {
    height: 35px;
    font-size: 18px;
    padding: unset;
    width: 100%;
}

/* Мобильная навигация - высота на 6px больше поиска */
body>nav fieldset.mobile-nav select {
    height: 36px;
    border-radius: 0.5em;
}

/* RSS icon alignment */
body>nav ul.subscription a {
    padding-top: 2px;
}


/*@media only screen and (min-width: 480px) {
    body>header, body>nav, body>footer, body #content>article,
    body #content>div>article, body #content>div>section {
        padding-left: 25px;
        padding-right: unset;
    }
}*/

@media only screen and (min-width: 550px) {
    body>nav ul {
        padding-top: .04em;
    }

    body>nav form {
        padding-top: .08em;
    }
}

@media only screen and (min-width: 768px) {
    article header {
        margin-bottom: 0.7em;
        padding-bottom: 1em;
    }
}

@media only screen and (min-width: 992px) {
    body>nav form {
        width: 240px;
    }
}

.flex-content,
article img,
article video,
article .flash-video,
article .caption-wrapper,
aside.sidebar img {
    /* center inline objects*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr.dashed {
    border-top: 1px dashed #bbb;
    margin-top: 24px;
}
